//$primary-color: #6750a4;

body {
	font-family: "Montserrat", sans-serif;
	line-height: 130%;
}


footer {
	background-color: lightblue;
}

//.router-link-active {
//	color: $primary-color;
//}

.container {
	max-width: 1240px;
	margin: 0 auto;
	padding: 0 10px;
}

// ================================= //