//$primary-color: #6750a4;

body {
	font-family: "Montserrat", sans-serif;
	line-height: 130%;
	background-color: #f5f7fa;
}

.container {
	max-width: 1240px;
	margin: 0 auto;
	padding: 0 10px;
}

// ================================= //